/*::-webkit-scrollbar {
  background-color: #1657C5;
  width: 4px;
  height: 4px;
}*/

body {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  /*background: linear-gradient(270deg, #c2e59c, #64b3f4) !important;*/
  background-size: 400% 400% !important;
  -webkit-animation: colors 60s ease infinite !important;
  animation: colors 60s ease infinite !important;
}

@-webkit-keyframes colors {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes colors {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes colors {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.jspVerticalBar{
  right: 0px !important;
  width: 4px !important;
}

.jspDrag{
  background: rgba(0,0,0,0.3) !important;
  border-radius: 0px !important;
}

#mainContentContainer{
  margin-top: 120px;
}

#mainContentContainer .top{
  display: none;
}
.contentnav{
  background-color: transparent !important;
  color: #fff;
  border-bottom: 0px solid transparent !important;
}
.contentnav div{
  float: right !important;
}
.contentContainer, .adSupported-layout .contentContainer{
  width: 100% !important;
  background-color: transparent !important;
}
.stationSlides.clearfix{
  width: 100% !important;
  left: 170px !important;
}

.stationContent{
  background: rgba(255,255,255,0.25) !important;
  border-right: 0px solid transparent !important;
  position: fixed !important;
  top: 96px !important;
  border-top: 1px solid rgba(0,0,0,.1) !important;
}

#playerBar, #trackInfo{
  background: rgba(255,255,255,0.25) !important;
  text-shadow: none !important;
}

#brandingBar{
  background-color: rgba(0,0,0,.7) !important;
}

.trackData{
  text-shadow: none !important;
}

#trackInfoButtons{
  display: none !important;
}

.stationListItem.selected{
  background: rgba(255,255,255,0.5) !important;
  color: #ffffff;
  border-color: transparent !important;
  border-top: 0px solid transparent !important;
  border-bottom: 0px solid transparent !important;
}

.stationListItem.selected ul{
  color: #ffffff !important;
}

.stationListItem .options{
  background: rgba(255,255,255,0.5) !important;
  color: #ffffff !important;
}

.stationNameText, #shuffleIcon{
  text-shadow: none !important;
}

.slideDragContainer{
  display: none !important;
}

.slidesBackground.unselectable.clearfix img{
  display: none;
}

.slides.unselectable{
  margin-top: -181px !important;
}

.fxCol-cont-1{
  background: transparent !important;
}
