/*::-webkit-scrollbar {
  background-color: #1657C5;
  width: 4px;
  height: 4px;
}*/

body {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  /*background: linear-gradient(270deg, #c2e59c, #64b3f4) !important;*/
  background-size: 400% 400% !important;
  -webkit-animation: colors 60s ease infinite !important;
  animation: colors 60s ease infinite !important;
  font-family: 'Helvetica Neue' !important;
}

@-webkit-keyframes colors {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes colors {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes colors {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.jspVerticalBar{
  right: 0px !important;
  width: 4px !important;
}

.jspDrag{
  background: rgba(0,0,0,0.3) !important;
  border-radius: 0px !important;
}

#mainContentContainer{
  margin-top: 120px;
  left: -190px;
  box-shadow: none !important;
}

#mainContentContainer .top{
  display: none;
}
.contentnav{
  display: none !important;
  /*background-color: transparent !important;
  color: #fff;
  border-bottom: 0px solid transparent !important;*/
}

.home .homeRightSide{
  width: 100% !important;
    /*padding-left: 0px !important;*/
}

.contentContainer, .adSupported-layout .contentContainer{
  width: 100% !important;
  background-color: transparent !important;
}
.stationSlides.clearfix{
  width: 100% !important;
  /*left: 170px !important;*/
}

.show-arrow{
  position: absolute;
  height: 46px;
  width: 26px;
  left: 190px;
  background-image: url('https://cdn1.vox-cdn.com/uploads/chorus_asset/file/6786577/arrow1.0.png');
  background-size: 20px 40px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  top: 3px;
  /*background-color: rgba(255,255,255,0.25);*/
}

.show-arrow.show{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
}

#sidebar{
  left: -190px;
  position: fixed !important;
  top: 96px !important;
  border-right: 1px solid rgba(0,0,0,.5) !important;
}

.stationContent{
  background: rgba(255,255,255,0.55) !important;
  border-right: 0px solid transparent !important;
  position: relative !important;
  border-top: 1px solid rgba(0,0,0,.1) !important;
  /*left: 0px !important;*/
}

#playerBar, #trackInfo{
  background: rgba(255,255,255,0.25) !important;
  text-shadow: none !important;
}

.playerBarAlbum{
  overflow: scroll;
}

#brandingBar{
  background-color: rgba(0,0,0,.7) !important;
}

.trackData{
  text-shadow: none !important;
}

#trackInfoButtons{
  display: none !important;
}

.stationListItem.selected{
  background: rgba(255,255,255,0.8) !important;
  color: #ffffff;
  border-color: transparent !important;
  border-top: 0px solid transparent !important;
  border-bottom: 0px solid transparent !important;
}

.stationListItem ul{
  color: #000000 !important;
}


/*.stationListItem.selected ul{
  color: #ffffff !important;
}*/

.stationListItem .options{
  background: rgba(255,255,255,0.8) !important;
  /*color: #ffffff !important;*/
}

.stationNameText, #shuffleIcon{
  text-shadow: none !important;
}

.slideDragContainer{
  display: none !important;
}

.slidesBackground.unselectable.clearfix img{
  display: none;
}

.slides.unselectable{
  margin-top: -181px !important;
}

.fxCol-cont-1{
  background: transparent !important;
}

#single-block{
  width: 40px;
  height: 40px;
  margin-top: 20px;
  float: right;
}

img.spotify, #blocks{
  float: right;
}
#blocks, #single-block{
  visibility: hidden;
}

#my-content{
  width: 100%;
  margin-top: 130px;
}

#my-content #contain{
  margin: auto;
  width: 100%;
  max-width: 1000px;
}

#my-content #img{
  /*height: 300px;*/
  width: 30%;
  display: inline-block;
}

#my-content #info{
  width: 68%;
  display: inline-block;
  list-style: none;
  /*margin-left: 20px;*/
  padding-left: 20px;
  position: relative;
}

#info{
  /*background: rgba(0,0,0,0.2) !important;*/
}

table.table{
  width:100%;
  font-size: 14px;
  margin-top: 15px;
}

th{
  text-align: left !important;
}

tr{
  border-bottom: 1px solid rgba(255,255,255,.2) !important;
}

tbody tr:last-of-type{
  border-bottom-width: 0px !important;
}

th, td{
  padding: 6px 0px !important;
}

.iter{
  width: 30px;
  padding-left: 10px !important;
}

#img, #info{
  vertical-align: top !important;
}

a{
  text-decoration: none !important;
  cursor: pointer !important;
  color: #fff !important;
}

a:hover{
  color: #000 !important;
}

h2{
  font-size: 26px !important;
}

h4{
  font-size: 18px !important;
}

#info #album-popularity{
  position: absolute;
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  right: 0px;
  font-size: 26px;
  text-align: center;
  vertical-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
td div{
  display: inline-block;
  font-size: 10px;
  vertical-align:center;
}
td .pop{
  height:5px;
  background-color:#fff;
  margin-right: 5px;
}
